.add-icon{
    color:#C1C1C4;
    margin: 0 2px;
}

.food_item{
    width: 182px;
    padding: 16px 17px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.food_list{
    grid-row: 2/3;
    display: flex;
    grid-row-gap: 48px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    flex-direction: column;
}

.category h3{
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.category .food{
    display: grid;
    grid-template-columns: 182px 182px 182px 182px;
    grid-row-gap: 27px;
    grid-column-gap: 20px;
}

.category{
    height: max-content;
}

.noFoodData{
    grid-row: 2/3;
    height: 90%;
    display: grid;
    place-content: center;
}