.shoppingListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryheading{
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    margin: 0 0 5px 0;
}

.shoppingList{
    padding: 0 27px 0 45px;
    overflow-y: auto;
    margin-bottom: auto;
}

.shoppingListGrid{
    display: grid;
    grid-row-gap: 20px;
}

.shoppingList h3{
    font-weight: 700;
    font-size: 24px;
    color: #34333A;
}

.sListItemGrid{
    display:grid;
    grid-row-gap: 4px;
}

.listItemName{
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    max-width: 104px;
}

.modifyCount{
    width: 173px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    right: 27px;
    display: none;
}


.trashBox{
    width: 37px;
    height: inherit;
    background: #F9A109;
    border-radius: inherit;
    margin-right: 8px;
    display: grid;
    place-content: center;
}

.SlistItemCount{
    color: #F9A10A;
    font-size: 13px;
    border: 2px solid #F9A109;
    border-radius: 24px;
    font-weight: 700;
    width: 75px;
    height: 32px;
    display: grid;
    place-items: center;

}

.shoppingListItem > div> .SlistItemCount{
    position: relative;
    z-index: 0;
    left: 98px;
    top: -22px;
}

.shoppingListHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modify-count{
    color: #F9A109;
}

.trashBox *{
    color: white;
}

.modifyCountPlaceholder{
    width: 173px;
    height: 45px;
    position: relative;
    top: 16px;
    display: flex;
    z-index: 1;
}

.shoppingListItem>div:nth-child(2){
    height: 45px;
    display: grid;
    place-content: center;
}

.shoppingListItem>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingListItem>div:nth-child(1) input{
    margin-right: 14px;
    width: 20px;
    height: 20px;
}


.ListNameSave{
    width: 309.89px;
    height: 61.25px;
    border: 2px solid #F9A109;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 40px;
}

.ListNameSave input {
    border:none;
    border-radius: 12px 0 0 12px;
    width: 206px;
    padding: 0 0 0 16px;
}

.SaveListButton{
    background: #F9A109;
    border-radius: 0 8px 8px 0;;
    width: 95px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SaveList{
    padding: 17px 0;
    background: white;
}

.saveButtons{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: auto;
}

.saveButtons *{
    width: 118px;
    height: 59px;
    background: #56CCF2;
    border-radius: 12px;
    display: grid;
    place-content: center;
    font-weight: 700;
    color: white;
}

.cancel{
    color:black;
    background: white;
}

.border-gray{
    border-color: #C1C1C4;
}

.button-gray{
    border-color: #C1C1C4;
    background-color: #C1C1C4;
}

.empty_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    
}


.empty_list figure{
    margin: 0;
    position: relative;
    bottom: -12px;
}
