.shoppingHistoryHeader{
    font-weight: 700;
    font-size: 26px;
    color: #34333A;
    margin: 0 0 32px 0;
}

.monthHitoryHeader{
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    margin: 0 0 17px 0;
}

.historyTab{
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 21px;
}

.tabName{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.tabs{
    display: flex;
    grid-row-gap: 22px;
    flex-direction: column;
}

.monthTabs{
    grid-row: 2/3;
    display: flex;
    grid-row-gap: 36px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 100px);
    flex-direction: column;
}

.historyTab>div:nth-child(2){
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.historyTab>div:nth-child(2) p{
    font-weight: 500;
    color: #C1C1C4;
    font-size: 12px;
}

.status{
    padding: 4.5px 7.8px;
    color: #56CCF2;
    border: 1px solid #56CCF2;
    border-radius: 8px;
    font-size: 12px;
    height: min-content;
}

.cancelled{
    color:#EB5757 !important;
    border-color:#EB5757 !important;
}

.monthHistory{
    padding-right: 20px;
}