@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body{
    background-color: #FAFAFE;
}

div#root{
    height: 100%;
    display: grid;
    
    grid-template: 103px calc(100% - 148px) /88px minmax(100px,auto) 370px;
    grid-column-gap: 60px;
    grid-row-gap: 45px;
}


.side_bar{
    grid-row: 1/3;
    background: #FFF0DE;
    display: flex;
    flex-direction: column;
}


.add_item{
    width: 304px;
    height: 130px;
    background: #80485B;
    border-radius: 24px;
    display: flex;
    padding: 18px 18px 19px 15px;
    justify-content: space-between;
    margin:33px 25px 0 40px;
}


.add_item_button{
    position: absolute;
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34333A;
    font-weight: 700;
    font-size: 14px;
}

.add_item p{
    width: 159px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 13px 0;
}

.add_item img{
    position: relative;
    top: -36px;
}

.empty_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: -webkit-fill-available;
}


.empty_list figure{
    margin: 0;
}

.empty_list img{
    position: relative;
    bottom: -12px;
}


.shoppingHistory{
    grid-row: 1/3;
    padding-top: 37px;
}

.historyView{
    grid-row: 1/3;
}

.historyView h4{
    font-weight: 700;
    font-size: 26px;
    color: #34333A;
    margin: 0;
    margin-bottom: 5px;
}

.historyView .date{
    display: flex;
    width: 125px;
    color:#C1C1C4;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 28px;
}

.food_itemCount{
    width: 182px;
    padding: 16px 17px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.itemsCount{
    font-weight: 700;
    font-size: 12px;
    color: #F9A10A;
    margin: 0;
}


.food_itemCount p{
    max-width: 100px;
    margin: 0;
}

.chevron_right{
    color: #F9A109;
}

.categoryOptions{
    height: fit-content;
    max-height: 168px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    position: absolute;
    width: 288px;
    margin: 10px 0 0 0;
    overflow-y: auto;
    padding: 10px 8px;
    grid-row-gap: 4px;
}

.option{
    padding: 12px 23px;
    color: #828282;
    height:47px
}

.option:hover{
    color: black;
    background:#F2F2F2;
    border-radius: 12px;
}

.event_note{
    color: #C1C1C4;
}

.back span{    
    transform: rotateY(180deg);
    color: #F9A109;
}

.back{
    display: flex;
    font-weight: 700;
    font-size: 14px;
    color: #F9A109;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.historyView .back{
    margin-top:20px
}

.material-icons {
    user-select: none;
}